@model UrumiumMVC.ViewModel.EntityViewModel.ManagmentViewModel.ManagmentCountViewModel

<div class="col-lg-3 col-xs-6">
    <div class="small-box bg-blue">
        <div class="inner">
            <h3>@Model.DoctorCount<sup style="font-size: 20px"></sup></h3>

            <p>تعداد دکتر ها</p>
        </div>
        <div class="icon">
            <i class="ion ion-ios-list"></i>
        </div>
        <a href="/DoctorManagment/Index" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-address-book"></i></a>
    </div>
</div>


