
<section class="content-header">
    <h1>
        داشبرد
        <small>کنترل پنل</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li class="active">داشبرد</li>
    </ol>
</section>

<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-blue">
                <div class="inner">
                    <h3>1<sup style="font-size: 20px"></sup></h3>

                    <p>تعداد پیام های جدید</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-list"></i>
                </div>
                <a href="/Comment/Index" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-address-book"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>12<sup style="font-size: 20px"></sup></h3>

                    <p>تعداد پیام های جدید</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-list"></i>
                </div>
                <a href="/Comment/Index" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-address-book"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>15<sup style="font-size: 20px"></sup></h3>

                    <p>تعداد پیام های جدید</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-list"></i>
                </div>
                <a href="/Comment/Index" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-address-book"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>55<sup style="font-size: 20px"></sup></h3>

                    <p>تعداد پیام های جدید</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-list"></i>
                </div>
                <a href="/Comment/Index" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-address-book"></i></a>
            </div>
        </div>


        <!-- ./col -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-blue">
                <div class="inner">
                    <h3>1<sup style="font-size: 20px"></sup></h3>

                    <p>تعداد پیام های جدید</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-baseball-outline"></i>
                </div>
                <a href="/Comment/Index" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-address-book"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>12<sup style="font-size: 20px"></sup></h3>

                    <p>تعداد پیام های جدید</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-arrow-forward"></i>
                </div>
                <a href="/Comment/Index" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-address-book"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>15<sup style="font-size: 20px"></sup></h3>

                    <p>تعداد پیام های جدید</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-albums"></i>
                </div>
                <a href="/Comment/Index" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-address-book"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>55<sup style="font-size: 20px"></sup></h3>

                    <p>تعداد پیام های جدید</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-alarm"></i>
                </div>
                <a href="/Comment/Index" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-address-book"></i></a>
            </div>
        </div>


        <!-- ./col -->
    </div>
    <!-- /.row -->

</section>