@model List<UrumiumMVC.ViewModel.EntityViewModel.ViolationViewModel.ViolationViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManagmentLayout.cshtml";
}





<link href="~/Content/Common/CommonAddItem.css" rel="stylesheet" />
<link href="~/Content/Common/alert/sweetalert.css" rel="stylesheet" />
@section Scripts
{
    <script src="~/Content/Common/alert/sweetalert.min.js"></script>

}
<h2 class="text-center" style="padding:50px;">مدیریت تخلف ها</h2>



<div style="padding:30px;margin-top:20px;margin-bottom:20px;">
    <div class="col-lg-12 col-sm-12 col-md-12">
        <input type="text" id="txtpeigiri" class="form-control" placeholder="شماره پیگیری را برای جستجو وارد کنید" aria-label="" aria-describedby="basic-addon1">
    </div>
    <div class="col-lg-12 col-sm-12 col-md-12" style="margin-top:20px;margin-bottom:50px;">
        <a type="button" class="btn btn-success btn-block" placeholder="جستجو" aria-label="" aria-describedby="basic-addon1" onclick="searchtext()"> جستجو کن ؟</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center">لیست تخلف ها</h4>
            <div class="table-responsive">
                <table id="mytable" class="table table-bordred table-striped" style="background-color:white;">
                    <thead>
                    <th class="text-center">پاسخ / جواب بده</th>
                    <th class="text-center">شماره پیگیری</th>
                    <th class="text-center">نوع پیام</th>
                    <th class="text-center">پیام کاربر</th>
                    <th class="text-center">پیام ادمین</th>
                    <th class="text-center">مشاهده نسخه</th>
                    <th class="text-center">مشاهده چت روم</th>
                    </thead>
                    <tbody id="listofillness">
                        @{Html.RenderPartial("_ViolationListAjax", Model);}
                    </tbody>

                </table>

            </div>

        </div>
    </div>
</div>

<div id="mymodal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">پاسخ به تخلف</h4>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-lg-4">
                        
                    </div>
                    <div class="col-lg-8">
                        <input type="number" id="txtid" name="txtid" class="form-control" placeholder="پاسخ به کاربر را وارد کنید" style="display:none;"/>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-4">
                        پاسخ به کاربر
                    </div>
                    <div class="col-lg-8">
                        <input id="txtanswer" name="txtanswer" class="form-control" placeholder="پاسخ به کاربر را وارد کنید" />
                    </div>
                </div>
                <br />


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">خروج</button>
                <a name="btninsert" class="btn btn-success" value="درج" onclick="checkitem()">پاسخ بده</a>
            </div>
        </div>

    </div>
</div>


<script>

    function shownoskhe(visitid, illnessid, doctorid) {
        window.location.href = '/Noskhe/ClientNoskhe?visitid=' + visitid + '&doctorid=' + doctorid + '&illnessid=' + illnessid+'&date=';
    }

    function showchat(visitid, illnessid, doctorid) {
        window.location.href = '/Chat/DoctorChatroom?visitid=' + visitid + '&doctorid=' + doctorid + '&illnessid=' + illnessid + '&name=D';
    }


    function searchtext() {
        var code = $("#txtpeigiri").val();
        $.ajax({
            type: "Post",
            url: '/ViolationManagment/GetList',
            data: { peigiri: code },
            success: function (data) {
                if (data.success == true) {
                    $('#listofillness').empty();
                    $('#listofillness').append(data.View);
                }
                else {
                    swal("مشکل سرور", "مشکلی در حذف ایجاد شد", "error");
                }

            }
        });
    }

    function checkitem() {
        $("#mymodal").modal('hide');
        var id = $("#txtid").val();
        var text = $("#txtanswer").val();
        $.ajax({
            type: "Post",
            url: '/ViolationManagment/CheckIsOk',
            data: { id: id, answer: text },
            success: function (data) {
                if (data.success == true) {
                    $('#listofillness').empty();
                    $('#listofillness').append(data.View);
                }
                else {
                    swal("مشکل سرور", "مشکلی در حذف ایجاد شد", "error");
                }

            }
        });
    }


    function addanswer(id) {
        $("#txtid").val(id);
        $("#mymodal").modal();
    }
</script>








