@{
    ViewBag.Title = "Login Failure";
    Layout = "~/Views/Shared/_LoginNewDesignLayout.cshtml";
}

<hgroup style="margin-top:90px;">
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-error">ارسال ایمیل نا موفق</h3>
</hgroup>
