
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManagmentLayoutDoctor.cshtml";
}

<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="col-md-12">
        <h1 class="text-center">نسخه بیمار</h1>
        <div class="table-responsive">
            <table id="mytable" class="table table-bordred table-striped" style="background-color:white;">
                <thead>
                <th class="text-center">نام دارو</th>
                <th class="text-center">تعداد</th>
                </thead>
                <tbody id="listofnoskhe">
                    <tr>
                        <td class="text-center" style="padding:10px;">سوال</td>
                        <td class="text-center" style="padding:10px;">جواب</td>
                    </tr>
                </tbody>

            </table>

        </div>

    </div>
</div>