<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ورود به سیستم</title>
    <meta http-equiv="Content-Language" content="fa" />
    <link rel="icon" href="~/Content/NewDesign/img/Image1 (1).png">

    <link rel="stylesheet" href="~/Content/NewDesign/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/NewDesign/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="~/Content/NewDesign/css/style.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <!--javascript-->
    <script src="~/Content/NewDesign/js/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="~/Content/NewDesign/js/bootstrap.js"></script>
    <script src="~/Content/NewDesign/js/custom-js.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
    <script src="/signalr/hubs"></script>
</head>
<body>
    <!------------header----------->
    <div class="container-fluid-header">
        <div class="row ">
            <div class="col-5 col-md-7">
                <div class="row ml-5">
                    <nav class="navbar navbar-expand-md navbar-light ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="mynavbar">
                            <ul class="navbar-nav">
                                <li class="nav_item">
                                    <a href="/" class="text-red-hover nav-link mr-1 "><i class='fas fa-home'></i></a>
                                </li>
                                <p class="text-color-menu my-2">|</p>
                                <li class="nav_item">
                                    <a href="/Account/Login" class=" nav-link mx-1">ورود کاربران</a>
                                </li>
                                <p class="text-color-menu my-2">|</p>
                                <li class="nav_item">
                                    <a href="/Account/Register" class="nav-link mx-1 ">ثبت نام</a>
                                </li>
                                <p class="text-color-menu my-2">|</p>
                                <li class="nav_item">
                                    <a href="/DoctorHome/ListDoctor?groupid=0" class="nav-link mx-1 ">شفاداک برای پزشکان و مدیران</a>
                                </li>
                                <p class="text-color-menu my-2">|</p>
                                <li class="nav_item ">
                                    <a href="#" class="nav-link mx-1 "><i class="fa fa-question mr-1"></i>راهنمای سامانه</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>

        </div>
    </div>
    <div class="container-fluid">
        <div class="progress">
            <div class="progress-bar"></div>
        </div>
    </div>
    <!--------body--------->
    @RenderBody()
   
    <!----------footer------>
    <div class="container-fluid footer">
        <div class="row ">
            <div class="col-55 col-md-7">
                <div class="row ml-5">
                    <nav class="navbar navbar-expand-md ">
                        <ul class="navbar-nav">
                            <li class="nav_item">
                                <a href="#" class="text-red-hover nav-link mr-1 ">قوانین</a>
                            </li>
                            <p class="text-dark my-2 d-none d-sm-block">|</p>
                            <li class="nav_item">
                                <a href="#" class=" nav-link mx-1">پشتیبانی</a>
                            </li>
                            <p class="text-dark my-2 d-none d-sm-block">|</p>
                            <li class="nav_item">
                                <a href="#" class="nav-link mx-1 ">درباره ما</a>
                            </li>
                            <p class="text-dark my-2 d-none d-sm-block">|</p>
                            <li class="nav_item">
                                <a href="#" class="nav-link mx-1 ">همکاری با ما</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-6 col-md-4 ">
                <div class="row float-right mt-2">
                    <a href="#" class="mx-1 my-2 text-dark"><i class='fab fa-telegram-plane'></i></a>
                    <p class="my-2 d-none d-sm-block">|</p>
                    <a href="#" class="mx-1 my-2 text-dark"><i class='fab fa-instagram'></i></a>
                </div>
            </div>
        </div>
    </div>

    <script>
          $(function () {
            $('#sendimage').click(function () { $('#imgupload').trigger('click'); });
            var chat = $.connection.chatHub;

            $.connection.hub.start().done(function () {

                //alert($.connection.hub.id);
                //chat.server.send('@User.Identity.Name', "وارد شد");

                $("#sendmessage").click(function () {
                    chat.server.send('@User.Identity.Name', $("#chat").val(),$.connection.hub.id);
                    addchattokhodam($("#chat").val());
                    $("#chat").val("").focus();

                });

            });

            chat.client.addNewItem = function (name, message) {
                addchattouser(name,message);
            }


        });
    </script>
</body>
</html>
